<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

        <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="">
          <img src="assets/logoOficial.png" class="me-2" style="height: 40px;">
          AutoescuelaMaloap
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" *ngIf="!usuarioService.usuarioActual">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!usuarioService.usuarioActual">
              <a class="nav-link" routerLink="/register">Registro</a>
            </li>
            <li class="nav-item" *ngIf="!usuarioService.usuarioActual">
              <a class="nav-link" routerLink="/info">Más sobre nosotros</a>
            </li>

            <!--mostrar el nombre del usuario con el que te logueas-->
            <strong style="color: white;">
              {{usuarioService.usuarioActual?.nombre }} <br>
              {{usuarioService.usuarioActual?.rol}}
            </strong>
            <!------------------------------------------------------->
            <li class="nav-item" *ngIf="usuarioService.usuarioActual">
              <button class="btn btn-outline-light ms-3" (click)="cerrarSesion()">Cerrar Sesión</button>
            </li>

          </ul>
        </div>
          <br><br><br>
      </div>
    </nav>
</header>
