<div class="container-fluid bg-light py-1">
  <div class="row align-items-center">

    <!--texto y botones a la izquierda-->
    <div class="col-md-6 text-center text-md-start px-5">
      <h1 class="fw-bold display-5">Bienvenido a AutoescuelaMaloap 🚗</h1>
      <p class="lead mt-3">¡Practica exámenes, mejora tus resultados y alcanza las metas de obtener el carnet de conducir en la mejor autoescuela de Salamanca :) !</p>

      <div class="mt-5">
        <a routerLink="/login" class="btn btn-primary btn-lg me-2">Iniciar Sesión</a>
        <a routerLink="/register" class="btn btn-success btn-lg">Registrarse</a>
      </div>
    </div>

    <!--imagen coche a la derecha-->
    <div class="col-md-6 text-center">
      <img src="assets/portadaHome.png" class="img-fluid rounded shadow" style="max-width: 450px;">
    </div>
  </div>

</div>
