<div class="container mt-4">

  <h2 class="text-center mb-4">Panel del Profesor</h2>

  <!--formulario crear-->
  <div class="card p-3 mb-4 shadow">
    <h4>Crear nueva asignatura</h4>
    <form (ngSubmit)="crearAsignatura()">
      <input [(ngModel)]="nuevaAsignatura.nombre" name="nombre" placeholder="Nombre" class="form-control mb-2" required>
      <textarea [(ngModel)]="nuevaAsignatura.descripcion" name="descripcion" placeholder="Descripción" class="form-control mb-2"></textarea>
      <button class="btn btn-success w-100" type="submit">Crear</button>
    </form>
  </div>

  <!--listar asignaturas-->
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asig of asignaturas">
        <td>{{ asig.id_asignatura }}</td>
        <td>{{ asig.nombre }}</td>
        <td>{{ asig.descripcion }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editarAsignatura(asig)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminarAsignatura(asig.id_asignatura)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- MODAL / SECCIÓN EDITAR -->
  <div *ngIf="editarAsig" class="card p-3 mt-4 shadow">
    <h4>Editar asignatura</h4>
    <form (ngSubmit)="guardarCambios()">
      <input [(ngModel)]="editarAsig.nombre" name="nombre" class="form-control mb-2" required>
      <textarea [(ngModel)]="editarAsig.descripcion" name="descripcion" class="form-control mb-2"></textarea>
      <button class="btn btn-primary w-100" type="submit">Guardar cambios</button>
    </form>
  </div>

</div>
